<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Saki</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">详情</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=admin_segments_path%>>板块</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="segments" data-bs-toggle="dropdown" aria-expanded="false">板块</a>
          <ul class="dropdown-menu" aria-labelledby="segments">
            <li><a class="dropdown-item" href="#">新浪</a></li>
            <li><a class="dropdown-item" href="#">申万</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">策略</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">管理</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-success" href=<%=destroy_user_session_path%> data-method="DELETE">logout</a>
      </div>
    </div>
  </div>
</nav>